<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Editing <%= pantry.name %></title>
</head>

<body>
    <%- include("../partials/navbar.ejs") %>
        <h1>Edit <%= pantry.name %> </h1>

        <form action="/users/<%= user._id %>/foods/<%= pantry._id %>?_method=PUT" method="POST">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" value="<%= pantry.name %>" required />
            <button type="submit">Update Food</button>
        </form>


</body>

</html>