<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= user.username %>'s Cookbook!</title>
</head>

<body>
  <%- include("../partials/navbar.ejs") %>
    <h1>Welcome to <%= user.username %>'s Cookbook!</h1>

  <a href="/users/ <%= user.username %>"> <%= user.username.pantry %> </a>


</body>

</html>